body{
    background: #77829e;
    font-family: 'Open Sans';
}


.titulo{    
    text-align: center;
    font-size: 50px;
    color: #000000;
}

.container_select{  
    display: flex;
    margin-top:10px;
    justify-content: center;
    gap: 50px;
}
.selectors{
    width: 250px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.imagen_juego{
    width: 200px;
}

.selectors:hover{
    width: 200px;
    border: 5px #ffffff solid;
    text-align: center;
    background: #BCB8B1;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
}


.container_result{  
    width: 300px;
    height: 100px;
    border: solid #BCB8B1 1px;
    border-radius: 5px;
}

.container_flex_respuesta{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container_winlose{    
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.container_respuesta{   
    width: 200px;
    height: 200px;
    border: 1px #BCB8B1 solid;
    color: 4a525a;
    border-radius: 10px;
}



.container_vs{  
    margin-top: 70px;
    font-weight: bold;
    color: #000000;
}

.contenedor_restart{
    display: flex;
    justify-content: center;
}

.button_style{
    background: #BEB7A4;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}





.animation{ 
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 200px;
    animation: mianimacion;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes mianimacion {
    0% {background-image:url(../images/piedra.png);}
    50% {background-image: url(../images/papel.png)}
    100% {background-image: url(../images/tijera.png)}
}